.index {
// 导航
.index-header{
  .wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 3;
    ul {
      display: flex;
      flex: 1;
      justify-content: space-around;
      li {
        height: 0.96rem;
        line-height: 0.96rem;
        font-size: 0.3rem;
        color: $fontColor;
      }
      .active {
        color: $gold;
        border-bottom: .05rem solid $gold;
      }
    }
  }

  .banner {
    display: flex;
    width: 7.5rem;
    height: 4.64rem;
    padding-top: 0.96rem;
    img {
      width: 7.5rem;
      height: 3.68rem;
    }
    .swiper-pagination {
      bottom: .23rem;
      width: 100%;
      text-align: center;
      .swiper-pagination-switch {
        display: inline-block;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: #cdcdcd;
      }
      .swiper-pagination-switch:nth-of-type(2n) {
        margin: 0 .24rem;
      }
      .swiper-active-switch {
        background-color: #e8ba5b;
      }
    }
  }
}

.selector-main, .selector-wine{
  overflow: hidden;
}

// 个性推荐主题内容
.main-body-recommendation {
  padding-bottom: 0.2rem;
  .mb-head {
    display: flex;
    justify-content: space-around;
    padding: .17rem 0;
    border-bottom: 1px solid #999999;
    .mb-head-left {
      flex: 1;
      width: 1.75rem;
      height: .56rem;
      text-align: center;
      img {
        width: .39rem;
        height: .56rem;
      }
    }
    .mb-head-border {
      flex: 0;
      border-left: 1px solid #999999;
      border-right: 1px solid #999999;
    }
    .mb-head-right {
      flex: 1;
      width: 1.75rem;
      height: .56rem;
      text-align: center;
      img {
        width: .54rem;
        height: .54rem;
      }
      a{
        letter-spacing: .17rem;
      }
    }
    a {
      vertical-align: top;
      display: inline-block;
      height: .6rem;
      padding-left: 0.3rem;
      line-height: .65rem;
      font-size: 0.25rem;
    }
  }

  .mb-content {
    padding: .1rem .2rem 0;
    .mb-content-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: .2rem;
      .mb-cl-title {
        width: 100%;
        height: .37rem;
        padding-left: .18rem;
        border-left: .03rem solid $gold;
        span {
          display: inline-block;
          vertical-align: middle;
          padding-right: .25rem;
          line-height: .37rem;
          font-size: .24rem;
          color: $fontColor;
        }
        img {
          vertical-align: middle;
          width: .15rem;
          height: .25rem;
        }
      }
      .mb-cl-recommend {
        padding-top: .1rem;
        a {
          display: block;
          img {
            width: 3.45rem;
            height: 2rem;
          }
        }
        .mb-cl-recommend-introduction {
          padding-left: .2rem;
          padding-top: .07rem;
          span {
            font-size: .25rem;
            color: $fontColor;
          }
          p {
            width: 3.25rem;
            height: .3rem;
            line-height: .3rem;
            font-size: .18rem;
            color: #999;
            overflow: hidden;
          }
        }
      }
    }
  }
}

// 严选品牌主题内容
.main-body-strict-selection {
  position: relative;
  padding-bottom: 0.2rem;
  .mb-head {
    display: flex;
    justify-content: space-around;
    padding: .17rem 0;
    border-bottom: 1px solid #999999;
    .mb-head-left {
      flex: 1;
      width: 1.75rem;
      height: .56rem;
      text-align: center;
      img {
        width: .48rem;
        height: .56rem;
      }
    }

    .mb-head-right {
      flex: 1;
      width: 1.75rem;
      height: .56rem;
      text-align: center;
      img {
        width: .4rem;
        height: .56rem;
      }
    }
    .active span{
      color: $gold;
    }
    span {
      vertical-align: top;
      display: inline-block;
      height: .6rem;
      padding-left: 0.3rem;
      line-height: .65rem;
      font-size: 0.25rem;
    }
  }
  .mb-head-border {
    position: absolute;
    top: .17rem;
    left: 50%;
    z-index: 2;
    height: .56rem;
    border-left: 1px solid #999999;
  }

  .mb-content {
    padding: .1rem 0 0;
    .swiper-slide {
      padding: 0 .2rem;

      .mb-content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: .2rem;
        .mb-cl-title {
          width: 100%;
          height: .37rem;
          padding-left: .18rem;
          border-left: .03rem solid $gold;
          span {
            display: inline-block;
            vertical-align: middle;
            padding-right: .25rem;
            line-height: .37rem;
            font-size: .24rem;
            color: $fontColor;
          }
          img {
            width: .15rem;
            height: .25rem;
            vertical-align: middle;
          }
        }
        .mb-cl-recommend {
          display: inline-block;
          padding-top: .1rem;
          a {
            display: block;
            img {
              width: 1.99rem;
              height: 2rem;
            }
          }
          span {
            display: inline-block;
            width: 2rem;
            height: .45rem;
            line-height: .45rem;
            font-size: .20rem;
            text-align: center;
            color: $fontColor;
          }
        }
      }
    }
  }
}

// 大V用户
.main-body-V {
  padding-bottom: 0.2rem;

  .mb-head {
    display: flex;
    justify-content: space-around;
    padding: .17rem 0;
    border-bottom: 1px solid #999999;
    .mb-head-left {
      flex: 1;
      width: 1.75rem;
      height: .56rem;
      text-align: center;
      img {
        width: .68rem;
        height: .6rem;
      }
    }
    .mb-head-border {
      flex: 0;
      border-left: 1px solid #999999;
      border-right: 1px solid #999999;
    }
    .mb-head-right {
      flex: 1;
      width: 1.75rem;
      height: .56rem;
      text-align: center;
      img {
        width: .42rem;
        height: .6rem;
      }
    }
    a {
      vertical-align: top;
      display: inline-block;
      height: .6rem;
      padding-left: 0.3rem;
      line-height: .65rem;
      font-size: 0.25rem;
    }
  }
}

.search-button {
  position: fixed;
  right: .2rem;
  bottom: 2rem;
  z-index: 3;
}

.blank{
  height: 1.07rem;
}
}
