@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
}
body {
    font-size: 0.12rem;
    font-family: Arial,Verdana,Tahoma,"微软雅黑","黑体";
    background: #fff;
    margin: 0;
    overflow-x: hidden;
    /*水平方向隐藏掉多余部分，隐藏滚动条*/
}
p, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, form, table {
    margin: 0;
    padding: 0;
}
a, img {
    border: none;
}
img {
    vertical-align: middle;
    /*基线对齐，主要用在内联块*/
    border: 0;
}
li {
    list-style: none;
}
i, em {
    font-style: normal;
    /*去掉斜体*/
}
a {
    text-decoration: none;
    color: #000000;
    border: 0;
}
a:link {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: #000000;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:active {
    text-decoration: none;
    color: #000000;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}


/*首页*/
.index .index-header .wrapper {
    width: 100%;
    background-color: white;
}
.index .index-header .wrapper ul {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.index .index-header .wrapper ul li {
    height: 0.96rem;
    line-height: 0.96rem;
    font-size: 0.3rem;
    color: #1b1b1f;
}
.index .index-header .wrapper ul .active {
    color: #e8ba5b;
    border-bottom: .05rem solid #e8ba5b;
}
.index .index-header .banner {
    width: 100%;
    height: 3.69rem;
}
.index .index-header .banner .swiper-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.index .index-header .banner .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: .5rem;
    width: 100%;
    height: .2rem;
}
.index .index-header .banner .pagination .swiper-pagination-switch {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #cdcdcd;
    margin: 0 .1rem;
}
.index .index-header .banner .pagination .swiper-active-switch {
    background: #e8ba5b;
}
.index .selector-main {
    margin-top: 0.2rem;
}
.index .selector-main .main-body-recommendation {
    width: 100%;
    padding: 0 0.2rem;
    height: .6rem;
}
.index .selector-main .main-body-recommendation .mb-head {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1.75rem;
    height: .56rem;
    text-align: center;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-left img {
    width: .39rem;
    height: .56rem;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-left a {
    color: #1b1b1f;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-border {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1.75rem;
    height: .56rem;
    text-align: center;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-right img {
    width: .42rem;
    height: .6rem;
}
.index .selector-main .main-body-recommendation .mb-head .mb-head-right a {
    letter-spacing: .17rem;
}
.index .selector-main .main-body-recommendation .mb-head a {
    vertical-align: top;
    display: inline-block;
    height: .6rem;
    padding-left: 0.3rem;
    line-height: .65rem;
    font-size: 0.25rem;
}
.index .selector-main .main-body-recommendation .mb-content {
    padding: .1rem .2rem 0;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: .2rem;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-title {
    width: 100%;
    height: .37rem;
    padding-left: .18rem;
    border-left: .03rem solid #e8ba5b;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-title span {
    display: inline-block;
    vertical-align: middle;
    padding-right: .25rem;
    line-height: .37rem;
    font-size: .24rem;
    color: #1b1b1f;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-title img {
    vertical-align: middle;
    width: .15rem;
    height: .25rem;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-recommend {
    padding-top: .1rem;
    width: 3.2rem;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-recommend a {
    display: block;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-recommend a img {
    width: 3.2rem;
    height: 2rem;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-recommend .mb-cl-recommend-introduction {
    padding-left: .2rem;
    padding-top: .07rem;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-recommend .mb-cl-recommend-introduction span {
    font-size: .25rem;
    color: #1b1b1f;
}
.index .selector-main .main-body-recommendation .mb-content .mb-content-list .mb-cl-recommend .mb-cl-recommend-introduction p {
    width: 3.25rem;
    height: .3rem;
    line-height: .3rem;
    font-size: .18rem;
    color: #999;
    overflow: hidden;
}
.index .selector-main .main-body-strict-selection {
    padding-bottom: 0.2rem;
}
.index .selector-main .main-body-strict-selection .mb-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: .17rem 0;
    border-bottom: 1px solid #999999;
}
.index .selector-main .main-body-strict-selection .mb-head .mb-head-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1.75rem;
    height: .56rem;
    text-align: center;
}
.index .selector-main .main-body-strict-selection .mb-head .mb-head-left img {
    width: .48rem;
    height: .56rem;
}
.index .selector-main .main-body-strict-selection .mb-head .mb-head-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1.75rem;
    height: .56rem;
    text-align: center;
}
.index .selector-main .main-body-strict-selection .mb-head .mb-head-right img {
    width: .4rem;
    height: .56rem;
}
.index .selector-main .main-body-strict-selection .mb-head .active span {
    color: #e8ba5b;
}
.index .selector-main .main-body-strict-selection .mb-head span {
    vertical-align: top;
    display: inline-block;
    height: .6rem;
    padding-left: 0.3rem;
    line-height: .65rem;
    font-size: 0.25rem;
}
.index .selector-main .main-body-strict-selection .mb-head-border {
    z-index: 2;
    height: .56rem;
    border-left: 1px solid #999999;
}
.index .selector-main .main-body-strict-selection .mb-content {
    padding: .1rem 0 0;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide {
    padding: 0 .2rem;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: .2rem;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-title {
    width: 100%;
    height: .37rem;
    padding-left: .18rem;
    border-left: .03rem solid #e8ba5b;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-title span {
    display: inline-block;
    vertical-align: middle;
    padding-right: .25rem;
    line-height: .37rem;
    font-size: .24rem;
    color: #1b1b1f;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-title img {
    width: .15rem;
    height: .25rem;
    vertical-align: middle;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-recommend {
    display: inline-block;
    padding-top: .1rem;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-recommend a {
    display: block;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-recommend a img {
    width: 1.99rem;
    height: 2rem;
}
.index .selector-main .main-body-strict-selection .mb-content .swiper-slide .mb-content-list .mb-cl-recommend span {
    display: inline-block;
    width: 2rem;
    height: .45rem;
    line-height: .45rem;
    font-size: .20rem;
    text-align: center;
    color: #1b1b1f;
}
.index .selector-main .main-body-V {
    padding-bottom: 0.2rem;
}
.index .selector-main .main-body-V .mb-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: .17rem 0;
    border-bottom: 1px solid #999999;
}
.index .selector-main .main-body-V .mb-head .mb-head-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1.75rem;
    height: .56rem;
    text-align: center;
}
.index .selector-main .main-body-V .mb-head .mb-head-left img {
    width: .68rem;
    height: .6rem;
}
.index .selector-main .main-body-V .mb-head .mb-head-border {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}
.index .selector-main .main-body-V .mb-head .mb-head-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 1.75rem;
    height: .56rem;
    text-align: center;
}
.index .selector-main .main-body-V .mb-head .mb-head-right img {
    width: .42rem;
    height: .6rem;
}
.index .selector-main .main-body-V .mb-head a {
    vertical-align: top;
    display: inline-block;
    height: .6rem;
    padding-left: 0.3rem;
    line-height: .65rem;
    font-size: 0.25rem;
}
.index .search-button {
    position: fixed;
    right: .2rem;
    bottom: 2rem;
    z-index: 3;
}
.index .blank {
    height: 1.07rem;
}



/*购物车*/
.cart-header {
    border-bottom: 0.08rem solid #999999;
    margin-bottom: 0.2rem;
}
.cart-section ul li {
    height: 1.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #999999;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}
.cart-section ul li .section-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
}
.cart-section ul li .section-left .check {
    margin-left: .2rem;
    margin-right: .2rem;
    width: .25rem;
    height: .25rem;
    border: .01rem solid #999;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
}
.cart-section ul li .section-left .check-true {
    background: url("../img/shopping_cart/check_y.png") no-repeat;
    -webkit-background-size: .25rem .25rem;
            background-size: .25rem .25rem;
}
.cart-section ul li .section-left img {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    -webkit-border-radius: 0.4rem;
            border-radius: 0.4rem;
}
.cart-section ul li .center {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 2.8rem;
}
.cart-section ul li .center .wineName {
    font-size: 0.3rem;
    color: #1b1b1f;
    font-weight: bold;
}
.cart-section ul li .center .wineGrade {
    font-size: 0.2rem;
    color: #999999;
}
.cart-section ul li .center .winePrice {
    font-size: 0.2rem;
    color: #999999;
}
.cart-section ul li .section-right {
    margin-right: .2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 1.7rem;
    width: 1.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.cart-section ul li .section-right .del {
    color: #e8ba5b;
    font-size: 0.28rem;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}
.cart-section ul li .section-right .totalPrice {
    font-size: .3rem;
    color: #e8ba5b;
}
.cart-section ul li .section-right .count {
    width: 1.6rem;
    height: 0.4rem;
    border: 1px solid #999999;
    -webkit-border-radius: 0.15rem;
            border-radius: 0.15rem;
    text-align: center;
    font-size: 0.3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.cart-section ul li .section-right .count .add {
    color: #999999;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    line-height: 0.4rem;
}
.cart-section ul li .section-right .count .number {
    border-left: 0.01rem solid #999999;
    border-right: 0.01rem solid #999999;
    color: #e8ba5b;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
}
.cart-section ul li .section-right .count .minus {
    color: #999999;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    font-size: 0.4rem;
    line-height: 0.3rem;
}
.cart-accounts {
    height: 0.94rem;
    width: 100%;
    position: fixed;
    bottom: 1.07rem;
    border-top: 0.01rem solid #999999;
    border-bottom: 0.01rem solid #999999;
    z-index: 10;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.cart-accounts .check {
    width: 0.25rem;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 0.8rem;
    padding-left: 0.2rem;
}
.cart-accounts .check .check-all {
    display: block;
    width: .25rem;
    height: .25rem;
    border: .01rem solid #999;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.cart-accounts .check .check-true {
    background: url("../img/shopping_cart/check_y.png") no-repeat;
    -webkit-background-size: .25rem .25rem;
            background-size: .25rem .25rem;
}
.cart-accounts .check .word {
    padding-left: .2rem;
    font-size: 0.25rem;
}
.cart-accounts .price {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.25rem;
}
.cart-accounts .price p {
    margin-top: 0.04rem;
}
.cart-accounts .price span {
    color: #e8ba5b;
}
.cart-accounts .settlePrice {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 0.93rem;
    background-color: #e8ba5b;
    color: #fff;
    font-size: 0.35rem;
    line-height: 0.94rem;
    text-align: center;
}


/*页脚*/
footer {
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 1.07rem;
    background-color: #373b3e;
}
footer .footer-list {
    padding-top: 0.05rem;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
footer .footer-list li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
footer .footer-list li a {
    display: block;
    height: 0.52rem;
}
footer .footer-list li span {
    display: inline-block;
    padding-top: 0.1rem;
    font-size: 0.23rem;
    color: #fff;
    text-align: center;
}
body {
    position: relative;
}




/*订单页*/
.order-header {
    border-top: 0.1rem solid #999999;
    border-bottom: 0.14rem solid #eeeeee;
}
.order-header .personal-information {
    margin-top: 0.3rem;
    margin-bottom: 0.24rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.35rem;
    color: #1b1b1f;
}
.order-header .shipping-address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-right: 0.2rem;
}
.order-header .shipping-address .position {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.order-header .shipping-address .address {
    margin-right: 0.2rem;
    color: #999999;
    font-size: 0.25rem;
}
.order-header .shipping-address .arrow {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
}
.order-header .remarks {
    color: #e8ba5b;
    margin-top: 0.2rem;
    margin-left: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 0.23rem;
}
.order-goods {
    margin-top: 0.3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2rem;
    background: #fcfcfc;
    padding: 0.2rem 0.2rem;
}
.order-goods .winePicture {
    margin-right: 0.2rem;
}
.order-goods .winePicture img {
    -webkit-border-radius: 0.2rem;
            border-radius: 0.2rem;
}
.order-goods .commodity-information .brief-introduction {
    color: #1b1b1f;
    font-size: 0.25rem;
}
.order-goods .commodity-information .wineGrade {
    color: #999999;
    margin-top: 0.2rem;
    font-size: 0.23rem;
}
.order-goods .commodity-information .order-infor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.2rem;
    font-size: 0.23rem;
}
.order-goods .commodity-information .order-infor .winePrice {
    color: #e8ba5b;
}
.order-goods .commodity-information .order-infor .order-number {
    color: #1b1b1f;
}
.order-section .distribution {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 0.9rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.01rem solid #eeeeee;
    color: #1b1b1f;
    font-size: 0.25rem;
    padding: 0 0.3rem;
}
.order-section .distribution .fast-mail img {
    margin-left: 0.6rem;
}
.order-section .fright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0.9rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.01rem solid #eeeeee;
    color: #1b1b1f;
    font-size: 0.25rem;
    padding: 0 0.3rem;
}
.order-section .reference {
    height: 1.5rem;
    border-bottom: 0.01rem solid #eeeeee;
}
.order-section .reference .know {
    font-size: 0.25rem;
    color: #1b1b1f;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}
.order-section .reference .leave-word {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.5rem;
}
.order-section .reference .leave-word .bull-position {
    margin-left: 0.3rem;
    font-size: 0.25rem;
}
.order-section .reference .leave-word .site {
    color: #999999;
    margin-right: 0.5rem;
    font-size: 0.23rem;
}
.order-section .subtotal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0.2rem;
    height: 1rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.15rem solid #eeeeee;
    font-size: 0.23rem;
}
.order-section .subtotal .number {
    margin-right: 0.4rem;
}
.order-section .subtotal .price {
    margin-left: 0.4rem;
}
.order-section .subtotal .price span {
    color: #e8ba5b;
}
.order-section .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0.9rem;
    border-bottom: 0.01rem solid #eeeeee;
    font-size: 0.25rem;
}
.order-section .card .card-coupons {
    margin-left: 0.3rem;
}
.order-section .card .check {
    width: 0.3rem;
    height: 0.3rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 0.01rem solid #999999;
    margin-right: 0.3rem;
}
.order-footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    height: 1rem;
    width: 100%;
    border-top: 0.05rem solid #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.order-footer .total {
    font-size: 0.25rem;
    line-height: 0.9rem;
}
.order-footer .total span {
    color: #e8ba5b;
}
.order-footer .submit {
    width: 2rem;
    background: #e8ba5b;
    color: #ffffff;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1rem;
    margin-left: 0.6rem;
}



/*商品详情页*/
.goods-header {
    border-top: 0.1rem solid #999999;
}
.goods-section {
    padding: 0.3rem 0.3rem 0;
    border-bottom: 0.1rem solid #eeeeee;
}
.goods-section .goods-brief {
    font-size: 0.3rem;
    color: #1b1b1f;
}
.goods-section .goods-price {
    color: #e8ba5b;
    font-size: 0.25rem;
    margin: 0.1rem 0;
}
.goods-section .goods-infor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0.4rem;
    font-size: 0.25rem;
}
.goods-section .goods-infor .fast-mail {
    color: #999999;
}
.goods-section .goods-infor .sales-volume {
    color: #999999;
}
.goods-section .goods-infor .sales-volume span {
    color: #999999;
}
.goods-section .check-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0.9rem;
    font-size: 0.3rem;
    color: #1b1b1f;
}
.goods-section .product-parameter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0.9rem;
    font-size: 0.3rem;
    color: #1b1b1f;
}
.goods-section .remark-on {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1rem;
    font-size: 0.3rem;
    color: #1b1b1f;
}
.goods-section .remark-on .remark img {
    margin-right: 0.2rem;
}
.goods-section .remark-on .remark span {
    color: #999999;
}
.goods-footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    height: 1rem;
    width: 100%;
    background: #1b1b1f;
    padding-top: 0.1rem;
}
.goods-footer .footer-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.goods-footer li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.goods-footer li span {
    color: #ffffff;
    margin: 0.05rem;
    font-size: 0.23rem;
}
.pop-up {
    height: 4.5rem;
    width: 100%;
    z-index: 10;
    position: fixed;
    bottom: 0;
    border: 0.01rem solid #eeeeee;
    background: #ffffff;
}
.pop-up .liitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.pop-up .liitle .picture {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.pop-up .liitle .choice {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}
.pop-up .liitle .choice p {
    line-height: 0.55rem;
    font-size: 0.3rem;
}
.pop-up .liitle .choice .price {
    color: #e8ba5b;
}
.pop-up .liitle .error {
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}
.pop-up .goods-number {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.3rem;
}
.pop-up .goods-number .title {}
.pop-up .goods-number .minus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 0.75rem;
    height: 0.45rem;
    border: 0.01rem solid #aaaaaa;
    -webkit-border-radius: 0.1rem;
            border-radius: 0.1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0.1rem;
    font-size: 0.4rem;
}
.pop-up .goods-number span {
    color: #e8ba5b;
}
.pop-up .goods-number .add {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 0.75rem;
    height: 0.45rem;
    border: 0.01rem solid #aaaaaa;
    -webkit-border-radius: 0.1rem;
            border-radius: 0.1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.15rem;
}
.pop-up .confirm {
    width: 100%;
    height: 0.9rem;
    background: #e8ba5b;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.35rem;
    text-align: center;
    line-height: 0.9rem;
    border: none;
    color: #ffffff;
    outline: none;
}


/*消息页*/
.message section {
    padding: 0.3rem;
}
.message section ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .3rem;
}
.message section ul li img {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.message section ul li .brief {
    margin-left: .2rem;
    padding-bottom: .25rem;
    border-bottom: 0.01rem solid #cccccc;
}
.message section ul li .brief .seller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.message section ul li .brief .seller .name {
    font-size: .32rem;
}
.message section ul li .brief .seller .title {
    margin-left: .27rem;
    display: block;
    width: .65rem;
    height: .25rem;
    font-size: .19rem;
    color: #e8ba5b;
    border: 0.01rem solid #999999;
    -webkit-border-radius: .1rem;
            border-radius: .1rem;
    text-align: center;
    line-height: 0.22rem;
}
.message section ul li .brief p {
    font-size: .24rem;
    color: #bdbdbd;
    margin-top: .25rem;
}



/*个人信息*/
.center-section .center-information {
    background-color: #d5ccb9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0.38rem;
}
.center-section .center-information .user-pic {
    width: 1.8rem;
    height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
}
.center-section .center-information .user-pic img {
    width: 1.86rem;
    height: 1.86rem;
}
.center-section .center-information .details {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    width: 5.04rem;
    height: 2.61rem;
    padding: 0.45rem 0 0.05rem 0.3rem;
}
.center-section .center-information .details p {
    font-size: 0.24rem;
    line-height: 0.26rem;
}
.center-section .center-information .details p.user-name {
    font-size: 0.3rem;
    color: #373b3e;
    line-height: 0.88rem;
    font-weight: bold;
}
.center-section .center-information .details p.follow-following a {
    text-decoration: none;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.28rem;
}
.center-section .center-information .details p.follow-following a.follow {
    padding-right: 0.33rem;
    border-right: 0.02rem #333333 solid;
}
.center-section .center-information .details p.follow-following a.following {
    padding-left: 0.2rem;
}
.center-section .center-information .details .attention {
    margin-top: 0.28rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.8rem;
    height: 0.36rem;
    border: 0.02rem solid #646464;
    -webkit-border-radius: 0.09rem;
            border-radius: 0.09rem;
}
.center-section .center-information .details .attention a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0.21rem;
}
.center-section .center-information .details .attention a.add-attention {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
    font-size: 0.2rem;
    line-height: 0.21rem;
    color: #444444;
    border-right: 0.02rem solid #646464;
}
.center-section .center-information .details .attention a.message {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
}
.center-section .center-information .details .attention a.message img {
    width: 0.28rem;
    height: 0.21rem;
}
/*购买的酒品*/
.center-section .center-wine-class {
    border-top: 0.02rem #e8b958 solid;
}
.center-section .center-wine-class .title {
    padding-left: 0.27rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.center-section .center-wine-class .title span.left {
    width: 0;
    height: 0;
    border-top: 0.7rem #e8b958 solid;
    border-left: 0.24rem transparent solid;
}
.center-section .center-wine-class .title span.right {
    width: 0;
    height: 0;
    border-top: 0.7rem #e8b958 solid;
    border-right: 0.24rem transparent solid;
}
.center-section .center-wine-class .title span.text {
    height: 0.7rem;
    line-height: 0.7rem;
    padding: 0 0.2rem;
    font-size: 0.26rem;
    background-color: #e8b958;
}
.center-section ul.classify {
    padding: 0.54rem 0 1.02rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.center-section ul.classify li {
    width: 1.33rem;
}
.center-section ul.classify li img {
    width: 1.33rem;
    height: 1.33rem;
}
.center-section ul.classify li p {
    padding-top: 0.2rem;
    color: #333333;
    font-size: 0.22rem;
    text-align: center;
    font-weight: bolder;
}
.center-section ul.classify li p span {
    color: #333333;
}
.center-section ul.indent {
    display: block;
    width: 93%;
    margin: 0 auto;
    border-top: 0.02rem #999999 solid;
}
.center-section ul.indent >li {
    border-bottom: 0.02rem #999999 solid;
}
.center-section ul.indent .shopping-information ul {
    padding: 0.3rem 0 0.27rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.center-section ul.indent .shopping-information ul li a {
    display: block;
    width: 1.1rem;
    text-decoration: none;
    font-size: 0.22rem;
    color: #444444;
    text-align: center;
}
.center-section ul.indent .shopping-information ul li a span {
    width: 1rem;
    height: 0.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.center-section ul.indent .shopping-information ul li:nth-of-type(1) img {
    width: 0.76rem;
    height: 0.57rem;
}
.center-section ul.indent .shopping-information ul li:nth-of-type(2) img {
    width: 0.51rem;
    height: 0.57rem;
}
.center-section ul.indent .shopping-information ul li:nth-of-type(3) img {
    width: 0.61rem;
    height: 0.61rem;
}
.center-section ul.indent .shopping-information ul li:nth-of-type(4) img {
    width: 0.64rem;
    height: 0.46rem;
}
.center-section ul.indent .setting {
    font-size: 0.24rem;
    padding: 0.29rem 0 0.21rem 0.4rem;
    color: #717171;
}
.center-section ul.indent .about-us {
    font-size: 0.24rem;
    padding: 0.29rem 0 0.21rem 0.4rem;
    color: #717171;
}



/*搜索页*/
.all-search .search-section .search {
    height: 1.2rem;
    background-color: #f8f8f8;
    border-bottom: 0.01rem transparent solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0.25rem;
}
.all-search .search-section .search .return {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 0.1rem;
}
.all-search .search-section .search .return img {
    width: 0.18rem;
    height: 0.37rem;
}
.all-search .search-section .search form {
    -webkit-box-flex: 18;
    -webkit-flex: 18;
        -ms-flex: 18;
            flex: 18;
    padding: 0 0.18rem;
    height: 0.8rem;
    border: 0.01rem #eae8f5 solid;
    -webkit-border-radius: 0.35rem;
            border-radius: 0.35rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.all-search .search-section .search form .magnifying {
    display: block;
    width: .26rem;
    height: .26rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: url("../img/search/magnifying.png") no-repeat;
    -webkit-background-size: .26rem .26rem;
            background-size: .26rem .26rem;
}
.all-search .search-section .search form .delete {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: url("../img/search/delete.png") no-repeat;
    -webkit-background-size: .26rem .26rem;
            background-size: .26rem .26rem;
    width: .26rem;
    height: .26rem;
}
.all-search .search-section .search form .text {
    -webkit-box-flex: 17;
    -webkit-flex: 17;
        -ms-flex: 17;
            flex: 17;
    border: none;
    background-color: #f8f8f8;
    padding-left: 0.1rem;
    line-height: 0.66rem;
    font-size: 0.28rem;
    outline: none;
}
.all-search .search-section .search .btn1 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    width: 1.06rem;
    height: 0.66rem;
    line-height: 0.66rem;
    text-align: center;
    font-size: 0.28rem;
    background-color: #d2c9b6;
    border: 0;
    -webkit-border-radius: 0.16rem;
            border-radius: 0.16rem;
    margin-left: 0.2rem;
}
/*.all-search .search-section .history {*/
    /*padding: 0.57rem 0 0 0.3rem;*/
/*}*/
/*.all-search .search-section .history .title {*/
    /*font-size: 0.3rem;*/
    /*font-weight: bold;*/
/*}*/
/*.all-search .search-section .history .history-list {*/
    /*padding-top: 0.43rem;*/
/*}*/
/*.all-search .search-section .history .history-list li {*/
    /*margin-bottom: 0.3rem;*/
    /*margin-right: 0.26rem;*/
    /*display: inline-block;*/
    /*height: 0.5rem;*/
    /*padding-left: 0.22rem;*/
    /*padding-right: 0.4rem;*/
    /*font-size: 0.24rem;*/
    /*color: #484855;*/
    /*line-height: 0.5rem;*/
    /*background-color: #eeedf4;*/
    /*-webkit-border-radius: 0.25rem;*/
            /*border-radius: 0.25rem;*/
    /*position: relative;*/
/*}*/
/*.all-search .search-section .history .history-list li span.delete2 {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0.14rem;*/
/*}*/
/*.all-search .search-section .history .history-list li span.delete2 img {*/
    /*width: 0.15rem;*/
    /*height: 0.15rem;*/
/*}*/
/*.all-search .search-section .tips {*/
    /*padding: 0.15rem 0 0 0.18rem;*/
/*}*/
/*.all-search .search-section .tips li {*/
    /*border-bottom: 1px #eae8f5 solid;*/
/*}*/
/*.all-search .search-section .tips li a {*/
    /*display: block;*/
    /*font-size: 0.24rem;*/
    /*height: 0.75rem;*/
    /*line-height: 0.75rem;*/
    /*color: #b1b1b3;*/
    /*padding-left: 0.1rem;*/
/*}*/
.all-search .search-section .goodsShow li {
    margin-bottom: 0.32rem;
}
.all-search .search-section .goodsShow li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.all-search .search-section .goodsShow li a .goods-pic {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.all-search .search-section .goodsShow li a .goods-pic img {
    width: 2.05rem;
    height: 2.22rem;
}
.all-search .search-section .goodsShow li a .goods-details {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-right: 0.35rem;
    border-bottom: 0.01rem #999999 solid;
}
.all-search .search-section .goodsShow li a .goods-details .describe {
    font-size: 0.26rem;
    color: #666259;
    line-height: 0.37rem;
}
.all-search .search-section .goodsShow li a .goods-details .price-grade {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.all-search .search-section .goodsShow li a .goods-details .price-grade .price {
    font-size: 0.18rem;
    color: #e8b958;
}
.all-search .search-section .goodsShow li a .goods-details .price-grade .price .number {
    font-size: 0.3rem;
    color: #e8b958;
}
.all-search .search-section .goodsShow li a .goods-details .price-grade .grade {
    font-size: 0.18rem;
    color: #b1adad;
}
.all-search .search-section .goodsShow li a .goods-details .price-grade .grade .number {
    font-size: 0.26rem;
    color: #b1adad;
    padding-right: 0.05rem;
}